body{
    background-color: #B7D5D4; 
}

#home-title{
    position: relative; 
    text-align: center; 
    display: block; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}


#description{
    text-align: center; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 

}

footer{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #77878B;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
      
}

.dropbtn {
    display: block;
    position: relative;  
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgb(65, 65, 65);
    color: white;
    font-size: 16px;
    height: 30px; 
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: black;}
#logo {   
    width: 25%; 
    height: 25%;  
    border-image-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#quote {
    text-align: center;  
    color: white; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; ; 

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


#Updates {
    color: white; 
    text-align: center;  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; ; 
}

#updatelist{
    text-align: center;  
    color: white; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; ; 
}

#news{
    text-align: center;  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; ;
}

#snakecover {
    width: 100px; 
    height: 100px; 
}
#mariocover{ 
    width: 100px; 
    height: 100px;
}
#cuttheropecover{
    width: 100px; 
    height: 100px;
}

#tetriscover{
    width: 100px; 
    height: 100px;
}

#contactusform{
    text-align: center; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

#footerHide{
    float: right; 
    width: 1%; 
    height: 1%; 
}

#premiumshortcut{
    width: 100%; 
    height: 100%; 
}

#gamesshortcut{
    width: 100%; 
    height: 100%; 
}

#updateshortcut{
    width: 100%; 
    height: 100%; 
}

#contactshortcut{
    width: 100%; 
    height: 100%; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#snakegame{
    width: 100%; 
    height: 100%; 
}

#tetris{
    width: 100%; 
    height: 100%; 
}

#mario{
    width: 100%; 
    height: 100%; 
}

#cuttherope{
    width: 100%; 
    height: 100%; 
}

#basketballcover{
    width: 100px; 
    height: 100px; 
}

#basketball{
    width: 100%; 
    height: 100%; 
}


.header{
    background-color: #305252;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
}

.content-color{
    background-color: #488286;
    padding: 50px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.button{
    background-color: #373E40;
    color: white; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#contactbutton{
    text-align: center; 
}

.threed{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.textcolor{
    color: white; 
}

#pacman{
    width: 100%; 
    height: 100%; 
}

#pacmancover{
    width: 100px; 
    height: 100px; 
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }